
@{
    ViewData["Title"] = "PlayerView";
}
@model IEnumerable<FootballWeb.Models.Entity.Player>

<a asp-action="Create">Добавить Игрока</a>
<table class="table">
    <tr>
        <td>Ім'я</td>
        <td>Прізвище</td>
        <td>Вік</td>
        <td>Національність</td>
        <td>Позиція</td>
        <td>Команда</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Age</td>
            <td>@item.Nationality</td>
            <td>@item.Role</td>
            <td>@item.Team.Name </td>
        </tr>

    }
</table>
